*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #3a2f2a;
    background-color: #FFFFFF;
}

.header {
    height: 96px;
    background: #fff;
    padding: 20px 60px;
    width: 100%;
    padding: 24px 80px;
    position: relative;
}

.nav {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

.nav li {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
}

.nav-left,
.nav-right {
  display: flex;
  gap: 32px;
  max-width: 220px;
}

.nav-left {
  display: flex;
  gap: 32px;
  max-width: 220px;

  justify-content: flex-end;
  justify-self: end;
  margin-right: 28px;
}

.nav-right {
  display: flex;
  gap: 32px;
  max-width: 220px;

  justify-content: flex-start;
  justify-self: start;
  margin-left: 28px;
}

.nav li {
  font-size: 13px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  font-weight: 400;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-toggle span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #1a1a1a;
  margin: 6px 0;
  transition: 0.3s ease;
}


.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo img {
  width: 120px;
  display: block;
  margin: 0 auto;
}

.logo h1,h2 {
  font-family: 'Aboreto', serif;
  font-weight: 400;
  letter-spacing: 0.15em;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.logo span {
  font-size: 12px;
  letter-spacing: 3px;
}

/* HERO */
.hero-movimento {
  height: 75vh;
  background-image: url("img/capa\ primeira\ do\ site.png");  
  background-repeat: repeat-x;
  background-size: auto 100%;
  animation: moverBg 45s linear infinite;
}

@keyframes moverBg {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -1500px;
  }
}

.cta {
  position: absolute;
  bottom: 120px;
  right: 80px;

  padding: 14px 60px;
  font-size: 14px;
  letter-spacing: 0.18em;
  text-transform: uppercase;

  background: transparent;
  color: #ffffff;

  border: 1px solid rgba(255, 255, 255, 0.7);

  /* bordas assimétricas */
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;

  cursor: pointer;

  transition: 
    background 0.4s ease,
    box-shadow 0.4s ease,
    border-radius 0.4s ease,
    transform 0.3s ease;
}

.cta:hover {
  background: rgba(35, 22, 22, 0.95); /* tom escuro elegante */
  color: #fff;

  /* brilho suave lateral */
  box-shadow:
    0 0 15px rgba(255, 255, 255, 0.25),
    0 0 30px rgba(222, 187, 169, 0.35);

  /* muda o desenho da borda */
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;

  transform: translateY(-0,2px);
}

.faixa {
  position: relative;
  background-image: url("IMG/faixa\ quebra\ linha.png")
}

/* SOBRE */
.sobre {
  background-color: #D9BC97;
  padding: 120px 0;
  background:linear-gradient(to bottom,
    #F6EFE8 0%,
    #F6EFE8 40%,
    #FFFFFF 100%);
}

.sobre-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
}

.sobre-intro {
  max-width: 960px;
  margin: 0 auto 90px auto;
  font-size: 18px;
  line-height: 1.9;
  text-align: justify;
}

.sobre p {
  font-size: 15px;
  line-height: 1.7;
}

.sobre-grid p {
  margin-bottom: 42px;
}

.sobre-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
}

.sobre-grid h3 {
  font-size: 13px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  margin-bottom: 12px;
}

/*AMBIENTES*/

.ambientes-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
}

.ambientes-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.ambientes-grid img {
  width: 100%;
  height: 720px;
  object-fit: cover;
  border-radius: 28px;
}

.ambientes-grid img:first-child {
  margin-top: 40px;
}

.ambientes-grid img {
  transition: transform 1.2s ease;
}

.ambientes-grid img:hover {
  transform: scale(1.03);
}

.ambiente::after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(255,255,255,0.08);
  opacity: 0;
  transition: opacity 0.6s ease;
}

.ambiente:hover::after {
  opacity: 1;
}

/*SERVIÇOS*/
.servicos {
  background-color: #ffffff;
  padding: 120px 24px;
  margin: 0;
}

.servicos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  padding: 80px 24px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}

.servico img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 22px;
  transition: 
    transform 0.8s cubic-bezier(0.22, 1, 0.36, 1),
    box-shadow 0.8s ease;
}

.servico:hover img {
  transform: translateY(-6px);
  box-shadow: 0 24px 48px rgba(0, 0, 0, 0.12);
}

.servico span {
  display: block;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  font-size: 13px;
}

.servico span {
  transition: letter-spacing 0.5s ease;
}

.servico:hover span {
  letter-spacing: 0.22em;
}

/*FOOTER*/
.footer {
  background: #ffffff;
  padding: 100px 0 40px;
  font-size: 14px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 120px;
}

.footer-title {
  text-transform: uppercase;
  letter-spacing: 0.12em;
  font-size: 12px;
  margin-bottom: 16px;
}

.footer {
  background: #ffffff;
  padding: 100px 0 40px;
  font-size: 14px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 120px;
}

.footer-title {
  text-transform: uppercase;
  letter-spacing: 0.12em;
  font-size: 12px;
  margin-bottom: 16px;
}

.newsletter {
  display: flex;
  border-bottom: 1px solid #ccc;
  margin-bottom: 40px;
}

.newsletter input {
  border: none;
  outline: none;
  padding: 10px 0;
  flex: 1;
}

.newsletter button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
}

.social {
  display: flex;
  gap: 16px;
}

.social img {
  width: 32px;
  opacity: 0.8;
  transition: 0.3s;
}

.social img:hover {
  opacity: 1;
}

.footer-right ul {
  list-style: none;
  margin-bottom: 40px;
}

.footer-right li {
  margin-bottom: 12px;
}

.contato p {
  margin-bottom: 12px;
}

.cnpj {
  margin-top: 32px;
  font-size: 12px;
  color: #777;
}

.footer-right ul {
  list-style: none;
  margin-bottom: 40px;
}

.footer-right li {
  margin-bottom: 12px;
}

.contato p {
  margin-bottom: 12px;
}

.cnpj {
  margin-top: 32px;
  font-size: 12px;
  color: #777;
}
.footer-payments {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.footer-payments img {
  height: 24px;
  opacity: 0.8;
}

.footer-copy {
  margin-top: 48px;
  margin-bottom: 20px; /* espaço antes do fim da página */
  padding-bottom: 24px;  /* espaço interno antes da borda */
  text-align: center;
  font-size: 11px;
  letter-spacing: 0.14em;  
  text-transform: uppercase;
  color: #1a1818;
}

/* ===================== */
/* MOBILE */
/* ===================== */
@media (max-width: 768px) {

  body {
    overflow-x: hidden;
  }

  /* HEADER / NAV */
  .header {
    height: auto;
    padding: 24px;
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .nav ul {
    justify-content: center;
    gap: 16px;
  }

  .nav a {
    font-size: 13px;
  }

  /*LOGO MOBILE*/
  .logo {
    order:1;
  }

  .logo img {
    width: 90px;
    display: block;
    margin: 0 auto;
  }

  .nav-left {
  order: 2;
}

.nav-right {
  order: 3;
}

.nav-left,
.nav-right {
  justify-content: center;
  gap: 16px;
}

  /* HERO */
  .hero {
    height: 60vh;
    min-height: 420px;
    background-position: center top;
  }

  /* CTA */
  .cta {
    position: absolute;
    bottom: 16vh;
    left: 70%;
    transform: translateX(-70%);

    display:inline-flex;
    align-items: center;
    justify-content:center;

    padding: 16px 70px;
    font-size: 13px;
    letter-spacing: 0.12em;
    white-space:unset;
    }

  .faixa{
    display: flex;

  }

  /* SOBRE */
  .sobre {
    padding: 64px 24px;
  }

  .sobre-intro {
    font-size: 15px;
    line-height: 1.7;
    margin-bottom: 48px;
  }

  .sobre-grid {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  /* AMBIENTES */
  .ambientes-container {
    flex-direction:column;
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .ambientes-container img {
    width: 100%;
    height: auto;
    object-fit:contain;
    max-height: 580px;
    border-radius: 8px;
  }

  /* SERVIÇOS */
  .servicos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 16;
  }

  .servico img {
    height: 180px;
    object-fit: cover;
  }

  /* FOOTER */
  .footer-container {
    grid-template-columns: 1fr;
    gap: 48px;
  }

  .footer-copy {
    font-size: 11px;
    padding-bottom: 20px;
  }
}